
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Cinzel:wght@800;900&family=Crete+Round&family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Raleway:wght@200;300;500&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-bg-black .ant-modal-content {
    background-color: black;
    border: 0.1px solid #790599;
    margin-top: 50%;
    color:  white;
   
  }
  .ant-modal-close-x{
color: white;
  }

  .ant-select{
    background-color: black;
    columns: medium;
  }

  


  
